<div id="<%= dom_id event %>" style="border: solid; padding: 1em;">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= event.twitter %>
  </p>

  <p>
    <strong>Video link:</strong>
    <%= event.video_link %>
  </p>

</div>
